---
const { text, tooltip, float } = Astro.props

const isRight = float === "right"
---

<div
  class="group relative inline-block cursor-pointer border-b-2 border-dotted border-black"
  tabindex="0"
>
  <p>{text}</p>
  <span
    class:list={[
      "invisible absolute bottom-full left-1/2 min-w-32 max-w-60 -translate-x-1/2 rounded-md bg-white px-2 py-1 text-center text-black opacity-0 transition-opacity duration-300 group-hover:visible group-hover:opacity-100",
      isRight && "left-full float-right translate-x-0",
      "dark:bg-black dark:text-white",
    ]}
  >
    {tooltip}
  </span>
</div>
