---
import { cn } from "utils/cn.astro"
const { text, tooltip, float } = Astro.props

const isRight = float === "right"
---

<div
  class="group relative inline-block cursor-pointer border-b-2 border-dotted border-black"
  tabindex="0"
>
  <p>{text}</p>
  <span
    class={cn(
      "rounded-md absolute text-center px-2 py-1 bottom-full left-1/2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 -translate-x-1/2 min-w-32 max-w-60 bg-black invisible group-hover:visible",
      { "float-right left-full translate-x-0": isRight },
    )}>{tooltip}</span
  >
</div>
