<input
  id="close-drawer"
  class="peer sr-only"
  type="checkbox"
  name="close-drawer"
/>
<label
  class="m-2 flex h-10 w-10 cursor-pointer flex-col items-center justify-center rounded-full p-2"
  for="close-drawer"
  title="Open mobile menu"
>
  <div
    class="absolute z-50 h-[0.1rem] w-6 bg-gray-500 transition-transform duration-300 group-[&:not(:has(#close-drawer:checked))]:-translate-y-2 group-has-[#close-drawer:checked]:rotate-45"
  >
  </div>
  <div
    class="absolute z-50 h-[0.1rem] w-6 bg-gray-500 transition-[transform,opacity] duration-300 group-has-[#close-drawer:checked]:translate-x-3 group-has-[#close-drawer:checked]:opacity-0"
  >
  </div>
  <div
    class="absolute z-50 h-[0.1rem] w-6 bg-gray-500 transition-transform duration-300 group-[&:not(:has(#close-drawer:checked))]:translate-y-2 group-has-[#close-drawer:checked]:-rotate-45"
  >
  </div>
</label>
