---
import MobileContent from "./mobile-content.astro"
import Hamburger from "../../hamburger/three.astro"

const { lang } = Astro.props
---

<form class="group place-self-start sm:hidden">
  <Hamburger id="close-drawer" />
  <div
    class="absolute top-0 group-[&:not(:has(#close-drawer:checked))]:invisible"
  >
    <MobileContent lang={lang} />
  </div>
</form>
