---
import type { Locales } from "../../../i18n/ui"
import DropdownItem from "./../desktop/dropdown-item.astro"
import { items, titles } from "../desktop/items"
import { cn } from "utils/cn.astro"
const { lang } = Astro.props
---

<div
  class={cn(
    "group-has-[#close-drawer:checked]:opacity-100 opacity-0 transition-opacity duration-300",
    "bg-white dark:bg-black/95 h-svh w-screen flex flex-col gap-10 overflow-y-auto",
    "px-5 py-12",
  )}
>
  {
    titles.map((title) => (
      <section class="flex flex-col gap-2">
        <h2 class="text-xl font-semibold">{title[lang as Locales]}</h2>
        <div class="flex flex-wrap gap-2">
          {items[title.en.toLowerCase()].map((item) => (
            <DropdownItem lang={lang} items={item} />
          ))}
        </div>
      </section>
    ))
  }
</div>
