---
const { lang } = Astro.props
---

<h1 class="my-2 break-words text-center text-3xl md:text-4xl">
  {
    lang === "en" && (
      <span class="whitespace-normal">
        Hi👋 I'm{" "}
        <span class="mx-auto whitespace-nowrap text-3xl md:text-5xl">
          Shintaro Jokagi.
        </span>
      </span>
    )
  }
  {
    lang === "ja" && (
      <>
        <span class="whitespace-normal">こんにちは👋 </span>
        <ruby class="whitespace-nowrap text-3xl md:text-5xl">
          上鍵<rp>(</rp>
          <rt>じょうかぎ</rt>
          <rp>)</rp>心太朗<rp>(</rp>
          <rt>しんたろう</rt>
          <rp>)</rp>
        </ruby>
        <span class="whitespace-nowrap">です。</span>
      </>
    )
  }
</h1>
