---
import FacebookIcon from "../../icons/facebook.astro"
import GitHubIcon from "../../icons/github.astro"
import InstagramIcon from "../../icons/instagram.astro"
import LinkedInIcon from "../../icons/linkedin.astro"
import MailIcon from "../../icons/mail.astro"
import XIcon from "../../icons/x.astro"
---

<div class="top-me-social">
  <a
    href="https://x.com/taroj1205"
    target="_blank"
    class="social-icon x-icon"
    title="X (Twitter)">
    <XIcon />
  </a>
  <a
    href="https://instagram.com/taroj1205"
    target="_blank"
    class="social-icon instagram-icon"
    title="Instagram">
    <InstagramIcon />
  </a>
  <a
    href="https://facebook.com/taroj1205"
    target="_blank"
    class="social-icon facebook-icon"
    title="Facebook">
    <FacebookIcon />
  </a>
  <a
    href="https://linkedin.com/in/taroj1205"
    target="_blank"
    class="social-icon linkedin-icon"
    title="LinkedIn">
    <LinkedInIcon />
  </a>
  <a
    href="https://github.com/taroj1205"
    target="_blank"
    class="social-icon github-icon"
    title="GitHub">
    <GitHubIcon />
  </a>
  <a
    href="mailto:taroj1205@gmail.com"
    target="_blank"
    class="social-icon mail-icon"
    title="Mail">
    <MailIcon />
  </a>
</div>

<style>
  .top-me-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    gap: 0.25rem;
  }

  .social-icon {
    font-size: 2rem;
    border-radius: 15%;
    display: grid;
    place-items: center;
    width: 2rem;
    height: 2rem;
    transition: all 0.3s ease;
    padding: 0.5rem;
    color: var(--gray-color);
  }
  .social-icon:hover {
    color: hsl(0, 0%, 83%);
    background-color: hsl(0, 0%, 20%);
  }
</style>
