---
import FacebookIcon from "../../icons/facebook.astro"
import GitHubIcon from "../../icons/github.astro"
import InstagramIcon from "../../icons/instagram.astro"
import LinkedInIcon from "../../icons/linkedin.astro"
import MailIcon from "../../icons/mail.astro"
import XIcon from "../../icons/x.astro"
---

<div class="flex flex-wrap items-center justify-center gap-1 pt-2">
  <a
    href="https://x.com/taroj1205"
    target="_blank"
    class="h-12 w-12 rounded-md p-2 text-gray-500 transition-colors duration-300 hover:bg-zinc-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-zinc-800 dark:hover:text-gray-300"
    title="X (Twitter)"
  >
    <XIcon class="h-full w-full" />
  </a>
  <a
    href="https://instagram.com/taroj1205"
    target="_blank"
    class="h-12 w-12 rounded-md p-2 text-gray-500 transition-colors duration-300 hover:bg-zinc-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-zinc-800 dark:hover:text-gray-300"
    title="Instagram"
  >
    <InstagramIcon class="h-full w-full" />
  </a>
  <a
    href="https://facebook.com/taroj1205"
    target="_blank"
    class="h-12 w-12 rounded-md p-2 text-gray-500 transition-colors duration-300 hover:bg-zinc-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-zinc-800 dark:hover:text-gray-300"
    title="Facebook"
  >
    <FacebookIcon class="h-full w-full" />
  </a>
  <a
    href="https://linkedin.com/in/taroj1205"
    target="_blank"
    class="h-12 w-12 rounded-md p-2 text-gray-500 transition-colors duration-300 hover:bg-zinc-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-zinc-800 dark:hover:text-gray-300"
    title="LinkedIn"
  >
    <LinkedInIcon class="h-full w-full" />
  </a>
  <a
    href="https://github.com/taroj1205"
    target="_blank"
    class="h-12 w-12 rounded-md p-2 text-gray-500 transition-colors duration-300 hover:bg-zinc-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-zinc-800 dark:hover:text-gray-300"
    title="GitHub"
  >
    <GitHubIcon class="h-full w-full" />
  </a>
  <a
    href="mailto:taroj1205@gmail.com"
    target="_blank"
    class="h-12 w-12 rounded-md p-2 text-gray-500 transition-colors duration-300 hover:bg-zinc-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-zinc-800 dark:hover:text-gray-300"
    title="Mail"
  >
    <MailIcon class="h-full w-full" />
  </a>
</div>
