---
import SectionDivider from "../divider/section-divider.astro"
import Dropdown from "./desktop/dropdown.astro"
import LangToggle from "./lang-toggle.astro"
import MobileMenu from "./mobile/index.astro"

const { lang } = Astro.props
---

<header
  class="sticky top-0 z-50 flex w-full flex-col items-center justify-center bg-white/50 backdrop-blur-sm dark:bg-black/50"
>
  <nav
    class="grid h-16 w-[min(64rem,100%)] grid-cols-2 place-items-center gap-4 py-1 sm:h-12 sm:grid-cols-3"
  >
    <div class="mr-8 hidden h-6 w-6 sm:block"></div>
    <MobileMenu lang={lang} />
    <Dropdown lang={lang} />
    <LangToggle lang={lang} />
  </nav>
  <SectionDivider />
</header>
