---
import { getTranslations } from "../../i18n/utils"

const { lang } = Astro.props
const {
  heading: {
    programming: { languages, framework, library, thirdParty },
  },
} = getTranslations(lang)
---

<div class="vstack">
  <h3>{languages}</h3>
  <p>JavaScript, TypeScript, HTML, CSS, Markdown, Python</p>

  <h3>{framework}</h3>
  <p>Next.js, Express, React.js, Node.js, Flask, Tailwind CSS</p>

  <h3>UI {library}</h3>
  <p>Next UI, Chakra UI, Material UI, Joy UI, Yamada UI</p>

  <h3>SQL</h3>
  <p>MySQL, SQLite, PostgreSQL</p>

  <h3>{thirdParty}</h3>
  <p>Supabase, Vercel, Netlify, GitHub, Auth0, Clerk</p>
</div>
