---
import { getTranslations } from "../../i18n/utils"

const { locale } = Astro.props
const { languages } = getTranslations(locale)
---

<div class="vstack">
  <h3>{languages.heading}</h3>
  <p>JavaScript, TypeScript, HTML, CSS, Markdown, Python</p>

  <h3>{languages.framework}</h3>
  <p>Next.js, Express, React.js, Node.js, Flask, Tailwind CSS</p>

  <h3>UI {languages.library}</h3>
  <p>Next UI, Chakra UI, Material UI, Joy UI, Yamada UI</p>

  <h3>SQL</h3>
  <p>MySQL, SQLite, PostgreSQL</p>

  <h3>{languages["third party"]}</h3>
  <p>Supabase, Vercel, Netlify, GitHub, Auth0, Clerk</p>
</div>
